@media all and (max-width : 580px){
    .portfolio_page_in_wrap{
        display: none;
    }
    .mo_mask{
        display: block;
    }
    html,body{
        font-size: 12px;
    }
    .wrap{
        font-family: 'Noto Sans KR', sans-serif;
    }
    .main_header{
        width: 100%;
        height: 80px;
        border-top: 1px solid black;
        background-color: #ffffff;
        box-sizing: border-box; 
        position: relative;
        z-index: 999;
    }
    .main_img{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .main_pret{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    @keyframes icon_ani{
        0%{
            transform: translate(0) rotate(0);
        }
        25%{
            transform: translate(2px, 1px) rotate(2deg);
        }
        50%{
            transform: translate(3px, 2px) rotate(4deg);
        }
        75%{
            transform: translate(1px, 1px) rotate(1deg);
        }
        100%{
            transform: translate(-1px, -3px) rotate(-2deg);
        }
        
    }
    @keyframes heart{
        0%{
            transform: scale(1, 1) translate(0%, 0%);
            }
            4%{
            transform: scale(0.95, 1.05) translate(0%, 5%);
            }
            8%{
                transform: scale(1.05, 0.9) translate(0%, 10%);
            }
            12%{
                transform: scale(0.9, 1.05) translate(0%, -10%);
            }
            16%{
                transform: scale(1.05, 0.95) translate(0%, 5%);
            }
            20%{
            transform: scale(1, 1) translate(0%, 0%);
            }
            100%{
            transform: scale(1, 1) translate(0%, 0%);
            }
    }
    
    .main_font{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .icon_img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: contain;
        animation: icon_ani 1.2s step-start 0s infinite normal forwards;
    }
    .pack_butter{
        width: 90px;
        height: 90px;
    }
    /* 2페이지 어바웃 */
    .about_page{
        position: relative;
    }
    .about_box{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffda69;
        overflow: hidden;
        clip-path: circle(0 at 50% 50%);
    }
    .about_title{
        font-weight: 400;
        font-family: SangSangShinb7;
        font-size: 11.25rem;
        text-align: center;
        width: 100%;
        height: 100px;
        color: #ffffff;
    }
    .about_txt_wrapper{
        width: 100%;
        height: 600px;
  
        padding: 30px;
        box-sizing: border-box;
    }
    .about_txt{
        width: 670px;
        margin-bottom: 15px;
    }
    .profile{
        height: 100px;
    }
    .profile .title_icon{
        animation: heart 2.5s linear 0s infinite;
    }
    .education{
        width: 100%;
        height: 150px;
    }
    .education .title_icon{
        animation: heart 2.5s linear 0.5s infinite;
    }
    .license{
        height: 300px;
    }
    .license .title_icon{
        animation: heart 2.5s linear 1s infinite;
    }
    .title_icon{
        float: left;
        width: 50px;
        height: 40px;
        margin-top: 10px;
    }
    .sub_title{
        width: 600px;
        height: 50px;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        font-family: SangSangShinb7;
        font-size: 3rem;
        font-weight: 500;
    }
    .sub_title~p span{
        font-weight: 500;
        margin-right: 10px;
    
    }
    .about_txt p{
        width: 100%;
        float: right;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 35px;
    }
    
    /* 스킬 페이지 */
    .skills_page{
        background-color: #ded7cd;
        padding: 20px;
        box-sizing: border-box;
    }
    /* 왼쪽 일러스트+타이틀 박스 */
    .skill_logo_box{
        width: 100%; height: 100px;
        /* background-color: palegreen; */
        transition: 0.5s;
    }
    .skill_logo_box img{
        display: none;
    }
    .skill_txt{
        height: 100%;
        text-align: center;
        font-size: 8rem;
        font-family: SangSangShinb7;
    }
    /* 오른쪽 탭메뉴+아이콘 */
    .skill_grid{
        width: 100%; height: calc(100% - 100px);
    }
    /* 메뉴바 */
    .skill_page_tab_menu{
        width: 100%; height: 80px;
        display: flex; justify-content: space-evenly;
        margin-bottom: 15px;
    }
    .skill_menu{
        text-align: center; font-size: 2rem; font-weight: 400;
        line-height: 80px;
        cursor: pointer;
        position: relative;
        display: inline-block;
    }
    
    .skill_menu:hover::before {
        width: 130%;
    }
    .skill_menu::before {
        content: "";
        display: block;
        position: absolute; left: -15%; bottom: 0; z-index: 0;
        width: 0; height: 90%; font-weight: 300;
        transition: width 0.5s;
        background-color: #ffda69;
    }
    .skill_menu span {
        position: relative;
        z-index: 1;
    }
    /* 메뉴 하단 콘텐츠 영역 */
    .skill_page_tab_con_wrap{
        position: relative; width: 100%; height: calc(100% - 80px);
    }
    .skill_page_tab_con{
        display: flex; justify-content: center; align-items:baseline;
        flex-wrap: wrap;
        width: 100%; height: 80%;
        position: absolute; top: 0; left: 0;
        padding: 10px; box-sizing: border-box;
    }
    .skill_box{
        width: 200px; height: 180px ;
        box-sizing: border-box;
        margin: 5px;
        position: relative;
        transition: 0.5s;
        /* background-color: palevioletred; */
    }
    .skill_box:hover .skill_icon{
        animation: icon 2.5s linear infinite;
    }
    .skill_top_txt{
        height: 30px;
        font-family: SangSangShinb7;
        font-size: 2.5rem;
        font-weight: 500;
        margin-left: 15px;
        transform: rotate(-20deg);
        position: absolute;
        top: 10px;
        left: 15px;
    }
    .skill_icon{
        width: 50%;
        height: 50%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20%;
        margin-left: -25%;
    }
    .skill_name{
        width: 100%;
        height: 50px;
        font-family: SangSangShinb7;
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 0;
    }
    
    @keyframes icon{
        1%{
            transform: rotate(-15deg);
        }
        3%{
            transform: rotate(0);
        }
        5%{
            transform: rotate(-15deg);
        }
        8%{
            transform: rotate(0);
        }
        10%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(0);
        }
    }
    
    /* 3페이지 포트폴리오 */
    .portfolio_page{
        padding: 10px;
        box-sizing: border-box;
        /* overflow: hidden; */
    }
    /* 3페이지 포트폴리오 탭, 모바일 시작 */
    .swiper{
        width: 100%; height: 100%;
        background-color: palegoldenrod;
    }
    .m_portfolio_box{
        width: 100%; height: 100%;
        background-color: #ffffff;
        position: absolute; top: 0; left: 0;
        padding: 4rem; box-sizing: border-box;
    }
    .m_portfolio_box_in_title{
        width: 100%; height: 7rem;
        padding: 10px 20px; box-sizing: border-box;
        border-bottom: 1px solid #ccc; box-sizing: border-box;
    }
    .m_portfolio_box_in_title img{
        width: 60px; height: 60px;
        object-fit: contain;
        float: left;
        animation: icon_ani 1.5s step-start 0s infinite normal forwards;
    }
    .m_portfolio_box_in_title h2{
        width: calc(100% - 75px); height: 100%;
        font-size: 6rem; text-align: center;
        font-family: SangSangShinb7;
        float: right;
    }
    .m_portfolio_bottom_img{
        width: 50px; height: 50px;
        object-fit: contain;
        position: absolute; bottom: 20px; right: 20px;
        animation: icon_ani 1s step-start 1s infinite normal forwards;
    }
    .m_portfolio_grid_box{
        width: 100%; height: calc(100% - 7rem);
        /* display: grid;
        grid-template-columns: 59% 40%;
        grid-template-rows: 49% 49%;
        grid-template-areas: 
        "preview background"
        "preview explain";
        grid-gap: 1.25rem; */
        display: flex;
        flex-wrap: wrap;
    }
    .m_portfolio_box_in_background{
        /* grid-area: background;  */
        order: 2;
        border-bottom: 1px solid #ccc; box-sizing: border-box;
    }
    .m_portfolio_box_in_background p{
        padding: 10px; box-sizing: border-box;
        font-size: 1.4rem;
    }
    .m_portfolio_box h3{
        width: 100%; line-height: 3.5rem;
        font-size: 3.5rem;
        padding: 0 5px; box-sizing: border-box;
        font-family: SangSangShinb7;
    }
    .m_portfolio_box_in_explain_txt{
        /* grid-area: explain;  */
        order: 3;
    }
    .explain_con_wrap{
        width: 100%; height: calc(100% - 3.5rem);
        padding: 10px; box-sizing: border-box;
        overflow: scroll;
    }
    .explain_con_wrap>li{
        list-style: disc;
        font-size: 1.4rem;
    }
    .m_portfolio_box_in_preview{
        /* grid-area: preview;  */
        order: 1;
        height: 40%;
    }
    .m_preview_mask{
        width: 100%; 
        height: calc(100% - 3.5rem);
        
        overflow: hidden;
    }
    .m_portfolio_box_in_preview img{
        object-fit: cover;
    }




    /* 스와이프 안내(유도)선 */
    .swipe_announcement{
        width: 100%; height: 30px;
        position: absolute; bottom: 1rem; left: 0; z-index: 9999;
        display: flex; justify-content: center;
    }
    .swipe_announcement p{
        font-size: 1.25rem;
        width: fit-content;
        margin-right: 7px;
    }
    .swipe_line_bg{
        width: 100px; height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 14.5px 0;
    }
    .swipe_line{
        width: 100%;
        background-color: #333;
        animation: swipe_animation 3s ease-in-out infinite;
    }
    @keyframes swipe_animation {
        0%{width: 0;}
        100%{width: 100%;}
    }

    /* 3페이지 포트폴리오 탭, 모바일 끝 */
    
    /* last_page 엔딩페이지*/
    .last_page{
        background-color: #ffffff;
    }
    .last_txt_box{
        width: 100%;
        height: 400px;
        position: absolute;
        top: 50%;
        margin-top: -200px;
    }
    .ending_title{
        width: 100%;
        height: 100px;
        font-family: SangSangShinb7;
        font-size: 6.5rem;
        text-align: center;
        font-weight: 500;
    }
    .end_con{
        width: 100%;
        height: 250px;
        font-family: SangSangShinb7;
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
        transition: 0.5s;
    }
    .end_con span{
        /* background-color: #ffda69; */
        position: relative;
        z-index: 2;
    }
    .end_con span::before {
        content: "";
        /* display: block; */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 0;
        height: 100%;
        transition: width 0.5s;
        background-color: #ffda69;
    }
    .last_page span::before{
        width: 100%;
    }
    
    /* 엔딩페이지 푸터 */
    footer{
        background-color: #26468e;
        color: #ffffff;
        font-family: SangSangShinb7;
        border-top-left-radius: 50% 30%;
        border-top-right-radius: 50% 30%;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        z-index: 3;
    }
    .footer_txt_box{
        width: 100%;
        height: 120px;
        text-align: center;
    }
    .contact{
        font-size: 4.3rem;
    }
    .contact_con{
        font-size: 2.5rem;
    }
    .port_plan_shortcut{
        display: block;
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }
    .port_plan_shortcut img{
        width: 40px;
        height: 35px;
        animation: heart 2.5s linear 1s infinite;
    }
    .copyright{
        width: 100%;
        height: 30px;
        text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 100;
        position: absolute;
        bottom: 0;
    }

    .menu_but{
        position: fixed;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 20px;
        cursor: pointer;
        z-index: 999;
    }
    
    /* 클릭후 열리는 메뉴 숨김메뉴 */
    .page_blur{
        filter: blur(2px);
    }
    .page_filter{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9998;
        background-color: #ffffff;
        opacity: 0.8;
        display: none;
    }
    .hide_menu{
        background-color: #26468e;
        border-radius: 15px;
        opacity: 1;
        display: none;
        z-index: 9999;
        position: fixed;
        top: 15px;
        left: 15px;
    }
    .hide_menu .menu_but{
        width: 100px;
    }
    .close_but{
        width: 40px;
        height: 30px;
        z-index: 9999;
        float: left;
        object-fit: contain;
        display: none;
    }
    .close_txt{
        float: right;
        width: 50px;
        height: 20px;
        font-size: 1.25rem;
        font-weight: 100;
        color: #ffffff;
        cursor: pointer;
    }
    .hide_menu_wrap{
        width: 500px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -200px;
    }
    .hide_menu_box{
        width: 400px;
        height: 100px;
        margin-bottom: 25px;
        /* background-color: aquamarine; */
    }
    .hide_top_menu{
        display: block;
        width: 300px;
        height: 100px;
        line-height: 100px;
        font-size: 3.5rem; font-weight: 300;
        text-align: left;
        color: #ffffff;
        margin-left: 50px;
        /* background-color: aqua; */
    }
    .arrow_icon{
        transition-duration: 0.4s;
    }
    .hide_top_menu:hover{
        width: 300px;
        color: #ffda69;
        float: right;
        text-align: left;
        margin-left: 0;
    }
    .arrow_box{
        height: 100px;
    }
    .arrow{
        background: url(../img/arrowMAIN.png);
        background-size: 60px 60px;
        background-position: 80% 50%;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        float: left;
    }
    .min_logo{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
    }

}
